.Rproj.user
.Rhistory
.RData
.Ruserdata
data/db/*duckdb
data/arrow/*
data/rawdat/state/*
data/rawdat/species/*
data/csv/*
test_material/temp*
*.duckdb
foresttime/*
*.wal
use_cases/tree_rings/tree_ring.csv
*trees_annual_measures.RDS
*.DS_Store
